# **1. Adult Income Dataset**

Tahap pertama, Anda harus mencari dan menggunakan dataset **tanpa label** dengan ketentuan sebagai berikut:

1. **Sumber Dataset**:  
   Dataset dapat diperoleh dari berbagai sumber, seperti public repositories (*Kaggle*, *UCI ML Repository*, *Open Data*) atau data primer yang Anda kumpulkan sendiri.
   
2. **Ketentuan Dataset**:
   - **Tanpa label**: Dataset tidak boleh memiliki label atau kelas.
   - **Jumlah Baris**: Minimal 1000 baris untuk memastikan dataset cukup besar untuk analisis yang bermakna.
   - **Tipe Data**: Harus mengandung data **kategorikal** dan **numerikal**.
     - *Kategorikal*: Misalnya jenis kelamin, kategori produk.
     - *Numerikal*: Misalnya usia, pendapatan, harga.

3. **Pembatasan**:  
   Dataset yang sudah digunakan dalam latihan clustering (seperti customer segmentation) tidak boleh digunakan.

# **2. Import Library**

Pada tahap ini, Anda perlu mengimpor beberapa pustaka (library) Python yang dibutuhkan untuk analisis data dan pembangunan model machine learning.

In [20]:
import pandas as pd

# **3. Memuat Dataset**

Pada tahap ini, Anda perlu memuat dataset ke dalam notebook. Jika dataset dalam format CSV, Anda bisa menggunakan pustaka pandas untuk membacanya. Pastikan untuk mengecek beberapa baris awal dataset untuk memahami strukturnya dan memastikan data telah dimuat dengan benar.

Jika dataset berada di Google Drive, pastikan Anda menghubungkan Google Drive ke Colab terlebih dahulu. Setelah dataset berhasil dimuat, langkah berikutnya adalah memeriksa kesesuaian data dan siap untuk dianalisis lebih lanjut.

In [21]:
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status',
    'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss',
    'hours_per_week', 'native_country', 'income']

In [22]:
train_df = pd.read_csv("Adult Income Dataset/adult.data", names=columns, sep=",\s", engine="python")
test_df = pd.read_csv("Adult Income Dataset/adult.test", names=columns, sep=",\s", engine="python")

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\maula\AppData\Local\Temp\ipykernel_14972\3551473717.py:1: SyntaxWarning: invalid escape sequence '\s'
  train_df = pd.read_csv("Adult Income Dataset/adult.data", names=columns, sep=",\s", engine="python")
C:\Users\maula\AppData\Local\Temp\ipykernel_14972\3551473717.py:2: SyntaxWarning: invalid escape sequence '\s'
  test_df = pd.read_csv("Adult Income Dataset/adult.test", names=columns, sep=",\s", engine="python")

In [23]:
train_df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [24]:
test_df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,|1x3 Cross validator,None,NaN,None,NaN,None,None,None,None,None,NaN,NaN,NaN,None,None
1,25,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K.
2,38,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K.
3,28,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K.
4,44,Private,160323.0,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,>50K.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16277,39,Private,215419.0,Bachelors,13.0,Divorced,Prof-specialty,Not-in-family,White,Female,0.0,0.0,36.0,United-States,<=50K.
16278,64,?,321403.0,HS-grad,9.0,Widowed,?,Other-relative,Black,Male,0.0,0.0,40.0,United-States,<=50K.
16279,38,Private,374983.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K.
16280,44,Private,83891.0,Bachelors,13.0,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455.0,0.0,40.0,United-States,<=50K.
16281,35,Self-emp-inc,182148.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,60.0,United-States,>50K.

# **4. Exploratory Data Analysis (EDA)**

Pada tahap ini, Anda akan melakukan **Exploratory Data Analysis (EDA)** untuk memahami karakteristik dataset. EDA bertujuan untuk:

1. **Memahami Struktur Data**
   - Tinjau jumlah baris dan kolom dalam dataset.  
   - Tinjau jenis data di setiap kolom (numerikal atau kategorikal).

2. **Menangani Data yang Hilang**  
   - Identifikasi dan analisis data yang hilang (*missing values*). Tentukan langkah-langkah yang diperlukan untuk menangani data yang hilang, seperti pengisian atau penghapusan data tersebut.

3. **Analisis Distribusi dan Korelasi**  
   - Analisis distribusi variabel numerik dengan statistik deskriptif dan visualisasi seperti histogram atau boxplot.  
   - Periksa hubungan antara variabel menggunakan matriks korelasi atau scatter plot.

4. **Visualisasi Data**  
   - Buat visualisasi dasar seperti grafik distribusi dan diagram batang untuk variabel kategorikal.  
   - Gunakan heatmap atau pairplot untuk menganalisis korelasi antar variabel.

Tujuan dari EDA adalah untuk memperoleh wawasan awal yang mendalam mengenai data dan menentukan langkah selanjutnya dalam analisis atau pemodelan.

### **Check dataset info (Total column, row, numeric & categorical features)**

In [25]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [26]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16282 entries, 0 to 16281
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             16282 non-null  object
 1   workclass       16281 non-null  object
 2   fnlwgt          16281 non-null  float64
 3   education       16281 non-null  object
 4   education_num   16281 non-null  float64
 5   marital_status  16281 non-null  object
 6   occupation      16281 non-null  object
 7   relationship    16281 non-null  object
 8   race            16281 non-null  object
 9   sex             16281 non-null  object
 10  capital_gain    16281 non-null  float64
 11  capital_loss    16281 non-null  float64
 12  hours_per_week  16281 non-null  float64
 13  native_country  16281 non-null  object
 14  income          16281 non-null  object
dtypes: float64(5), object(10)
memory usage: 1.9+ MB

In [27]:
train_df_len = len(train_df)
test_df_len = len(test_df)

print("Total row (Train) : ", train_df_len)
print("Total row (Test) : ", test_df_len)

Total row (Train) :  32561
Total row (Test) :  16282

In [28]:
import pandas as pd

def print_feature_types(df, dataset_name):
    numeric_features = df.select_dtypes(include="number").columns.tolist()
    categorical_features = df.select_dtypes(include="object").columns.tolist()

    print(f"Numeric features ({dataset_name}): {', '.join(numeric_features)}")
    print(f"Categorical features ({dataset_name}): {', '.join(categorical_features)}")
    print()

print_feature_types(train_df, "Train")
print_feature_types(test_df, "Test")

Numeric features (Train): age, fnlwgt, education_num, capital_gain, capital_loss, hours_per_week
Categorical features (Train): workclass, education, marital_status, occupation, relationship, race, sex, native_country, income

Numeric features (Test): fnlwgt, education_num, capital_gain, capital_loss, hours_per_week
Categorical features (Test): age, workclass, education, marital_status, occupation, relationship, race, sex, native_country, income

#### **Adult Income Dataset Features and Data Types**

The Adult Income Dataset contains demographic information about individuals, aiming to predict whether their income exceeds $50,000 per year. Below is a summary of the features along with their corresponding data types:

| Feature          | Data Type   | Description                                             |
|------------------|-------------|---------------------------------------------------------|
| **age**          | `int`       | The age of the individual.                              |
| **workclass**    | `object`    | The category of work (e.g., Private, Self-emp-not-inc, Government, etc.). |
| **fnlwgt**       | `int`       | The final weight assigned to the individual in the survey. |
| **education**     | `object`    | The level of education attained (e.g., Bachelors, Masters, HS-grad, etc.). |
| **education_num** | `int`       | Numeric code representing the level of education (e.g., 13 for Bachelors). |
| **marital_status**| `object`    | The marital status of the individual (e.g., Married-civ-spouse, Divorced, Never-married, etc.). |
| **occupation**   | `object`    | The occupation of the individual (e.g., Tech-support, Craft-repair, Sales, etc.). |
| **relationship** | `object`    | The relationship status of the individual (e.g., Husband, Not-in-family, Own-child, etc.). |
| **race**         | `object`    | The race of the individual (e.g., White, Asian-Pac-Islander, Black, etc.). |
| **sex**          | `object`    | The gender of the individual (Male or Female).         |
| **capital_gain** | `int`       | The capital gain of the individual.                    |
| **capital_loss** | `int`       | The capital loss of the individual.                    |
| **hours_per_week**| `int`      | The number of hours the individual works per week.     |
| **native_country**| `object`   | The country of origin of the individual (e.g., United States, Mexico, etc.). |
| **income**       | `object`    | The income label of the individual (<=50K or >50K).    |

#### **Summary of Data Types**
- **Numeric (`int`)**: age, fnlwgt, education_num, capital_gain, capital_loss, hours_per_week
- **Categorical (`object`)**: workclass, education, marital_status, occupation, relationship, race, sex, native_country, income

#### **Data Type Verification in Train and Test DataFrames**

After checking the data types in the `train_df` and `test_df` DataFrames, it was found that some features have incorrect data types. Specifically:

- In `test_df`: 
  - **age** is of type `object`, but it should be of type `int`.

Therefore, it is necessary to convert the features with incorrect data types before proceeding further.

In [29]:
test_df = test_df.drop(index=0).reset_index(drop=True)
test_df['age'] = pd.to_numeric(test_df['age'])

In [37]:
print_feature_types(train_df, "Train")
print_feature_types(test_df, "Test")

Numeric features (Train): age, fnlwgt, education_num, capital_gain, capital_loss, hours_per_week
Categorical features (Train): workclass, education, marital_status, occupation, relationship, race, sex, native_country, income

Numeric features (Test): age, fnlwgt, education_num, capital_gain, capital_loss, hours_per_week
Categorical features (Test): workclass, education, marital_status, occupation, relationship, race, sex, native_country, income

After correcting the data type of the `age` column in the `test_df` DataFrame, it is now ready for the next processing steps.

# **5. Data Preprocessing**

Pada tahap ini, data preprocessing adalah langkah penting untuk memastikan kualitas data sebelum digunakan dalam model machine learning. Data mentah sering kali mengandung nilai kosong, duplikasi, atau rentang nilai yang tidak konsisten, yang dapat memengaruhi kinerja model. Oleh karena itu, proses ini bertujuan untuk membersihkan dan mempersiapkan data agar analisis berjalan optimal.

Berikut adalah tahapan-tahapan yang perlu dilakukan, namun **tidak terbatas** pada:
1. Menghapus atau Menangani Data Kosong (Missing Values)
2. Menghapus Data Duplikat
3. Normalisasi atau Standarisasi Fitur
4. Deteksi dan Penanganan Outlier
5. Encoding Data Kategorikal
6. Binning (Pengelompokan Data)

In [31]:
#Type your code here

# **6. Pembangunan Model Clustering**

## **a. Pembangunan Model Clustering**

Pada tahap ini, Anda membangun model clustering dengan memilih algoritma yang sesuai untuk mengelompokkan data berdasarkan kesamaan. Berikut adalah **rekomendasi** tahapannya.
1. Pilih algoritma clustering yang sesuai.
2. Latih model dengan data menggunakan algoritma tersebut.

In [32]:
#Type your code here

## **b. Evaluasi Model Clustering**

Untuk menentukan jumlah cluster yang optimal dalam model clustering, Anda dapat menggunakan metode Elbow atau Silhouette Score.

Metode ini membantu kita menemukan jumlah cluster yang memberikan pemisahan terbaik antar kelompok data, sehingga model yang dibangun dapat lebih efektif. Berikut adalah **rekomendasi** tahapannya.
1. Gunakan Silhouette Score dan Elbow Method untuk menentukan jumlah cluster optimal.
2. Hitung Silhouette Score sebagai ukuran kualitas cluster.

In [33]:
#Type your code here

## **c. Feature Selection (Opsional)**

Silakan lakukan feature selection jika Anda membutuhkan untuk optimasi model clustering. Jika Anda menerapkan proses ini, maka silakan lakukan pembangunan model dan evaluasi menggunakan kolom hasil dari feature selection.

In [34]:
#Type your code here

## **d. Visualisasi Hasil Clustering**

Setelah model clustering dilatih dan jumlah cluster optimal ditentukan, langkah selanjutnya adalah menampilkan hasil clustering melalui visualisasi.

Berikut adalah **rekomendasi** tahapannya.
1. Tampilkan hasil clustering dalam bentuk visualisasi, seperti grafik scatter plot atau 2D PCA projection.

In [35]:
#Type your code here

## **e. Analisis dan Interpretasi Hasil Cluster**

Setelah melakukan clustering, langkah selanjutnya adalah menganalisis karakteristik dari masing-masing cluster berdasarkan fitur yang tersedia.

Berikut adalah **rekomendasi** tahapannya.
1. Analisis karakteristik tiap cluster berdasarkan fitur yang tersedia (misalnya, distribusi nilai dalam cluster).
2. Berikan interpretasi: Apakah hasil clustering sesuai dengan ekspektasi dan logika bisnis? Apakah ada pola tertentu yang bisa dimanfaatkan?

In [36]:
#Type your code here

Tulis hasil interpretasinya di sini.
1. Cluster 1:
2. Cluster 2:
3. Cluster 3:

# **7. Mengeksport Data**

Simpan hasilnya ke dalam file CSV.